h1{
    margin-top: 40px;
    color: blue;
    font-size: 100px;
}

h2{
    color: #46484c;
}

p{
    color: #8b8b8bcc;
    /* text-decoration: green wavy underline; */
    margin-top: 15px;
}

button{
    color: #fff;
    background-color: #025157;
    border: none;
    height: 100%;
}

body{
    background-color: #fffbf7;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 0;
    margin-right: 0;
}

input{
    display: flex;
    
}

.header{
    margin: 0px 20px 0 20px;
    font-family: sans-serif;
    font-size: 0;
    line-height: 45px;
}

li{
    display: inline;
}

.header > *{
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo{
    width: 15%;
}

.navbar{
    width: 70%;
    text-align: center;
    color: #025157;
}

.navbar > ul >li{
    margin-left: 25px;
    margin-right: 25px;
}

.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
}

.actions > *{
    margin-left: 10px;
    margin-right: 10px;
}

.actions a{
    color: #67b54b;
}

.actions button{
    color: #fff;
    background-color: #67b54b;
    padding: 12px 14px 12px 14px;
    border: none;
    border-radius: 5px;
}

.publish{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    gap: 32px;
}

.publish > h2{
    color: #025157;
}

.publish > p{
    color: #343434;
    text-decoration: none;
}

.publish > form{
    display: flex;

}
form>*{
    display: flex;
}

.videoFooter{
    width: 30%;
}
.video{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixedHeader{
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}

.stories{
    background-color: #a1d683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stories .storiesText{
    flex: 2;
    padding-right: 100px;
}

.stories .storiesText h2{
    font-family: "Alegreya", serif;
    font-size: 51px;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 61px;
    color: #025157;
}

.stories .storiesText p{
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 1.5;
    color: #343434;
}

.stories .storiesText button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
    border: none;
}

figure{
    margin-top: 32px;
    /* margin: 0 0 1rem; */
    margin-left: 0;
    margin-right: 0;
}

.stories .storiesText img {
    width: 500px;
    max-width: 100%;
}

img{
    vertical-align: middle;
    border-style: none;
}

.stories .storiesCard{
    flex: 1;
    position: relative;
    max-width: 370px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.storiesCard{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.stories .storiesCard .cardHeader{
    position: relative;
}

.stories .storiesCard .cardHeader figure{
    margin-top: 0;
}

.stories .storiesCard .cardHeader img{
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.stories .storiesCard .cardHeader .stamp {
    position: absolute;
    bottom: -20px;
    right: 20px;
    width: 100px;
    height: 100px;
    background-color: #f9da73;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories .storiesCard .cardHeader .stamp img{
    max-width: 75%;
}

.cardBody{
    padding: 25px;
    flex: 1 1 auto;
    min-height: 1px;
}

h4{
    font-family: "Slabo 27px", serif;
}

.cardBody h4{
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
}

.cardBody h3{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.cardBody .successInfo{
    display: flex;
    align-items: center;
    color: #828282;
}

.cardBody .successInfo img{
    width: 26px;
    margin-right: 20px;
}

.cardBody .successInfo p{
    margin-top: 0;
    
}

.cardFooter{
    margin-bottom: 20px;
    background-color: unset;
    border-top: unset;
    padding: 25px;
}

.cardFooter button{
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
}

.features{
    display: grid;
    /* grid-template-columns: 300px 300px; */
    /* grid-template-columns: repeat(2, 300px); */
    /* grid-template-columns: 500px 1fr; */
    /* grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 330px); */
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
    background-color: #025157;
    padding: 5% 10%;
}

.featuresArt{
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.featureContent{
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.featureContent figure img{
    width: 50px;
}

.featureContent h3{
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.featureContent p{
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
}

.featureContent a{
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.featureImage{
    flex: 1;
    width: 40%;
    position: relative;
    height: 80%;
}

.featureImage figure{
    margin-top: 0;
    height: 100%;
}

.featureImage img{
    margin-top: 0;
    height: 100%;
}

.platform{
    background-color: #fffbf7;
    padding: 5% 10%;
    text-align: center;
}

.platform h2{
    color: #025157;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
    font-family: "Alegreya", serif;
    margin-bottom: 8px;
}

.platform > p{
    max-width: 60%;
    color: #46484c;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: 16px;
}

.platform p a{
    color: #67b54b;
    text-decoration: none;
}

.platform button{
    font-size: 14px;
    font-weight: 600;
    height: 45px;
    margin-left: 0;
    border-radius: 8px;
    margin-top: 6px;
    padding: 6px 20px;
}

.platformCards{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.platformCards .card{
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.platformCards .card .cardTitle{
    position: relative;
    height: 350px;
}

.platformCards .card .cardTitle .cardBg{
    width: 100%;
    height: 100%;
}

.platformCards .card .cardTitle .cardLogo{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 21px;
}

.platformCards .card .cardBody{
    padding: 25px;
}

.platformCards .card .cardBody h3{
    font-size: 30px;
    line-height: 36px;
    font-family: "Alegreya", serif;
    color: #025157;
    font-weight: 400;
    text-align: center;
}

.platformCards .card .cardBody p{
    font-size: 16px;
    line-height: 1.5;
    color: #46484c;
    font-weight: 400;
    height: 85px;
    margin-bottom: 16px;
}

.platformCards .card .cardBody a{
    font-size: 16px;
    color: #67b54b;
    line-height: 1.4;
    font-weight: 600;
    text-decoration: none;
}